# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1 # Use a specific version
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2 # Use a specific version
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0 # Use a specific version
    hooks:
      - id: flake8
