name: Hourly Message job - PROD

on:
  schedule:
    # Runs the workflow every hour
    - cron: "0 * * * *"
  workflow_dispatch: # Allows to run the script manually for testing

jobs:
  run-script:
    runs-on: ubuntu-latest # Specifies the runner environment
    environment: production

    env:
      ENVRIONMENT_NAME: ${{ vars.ENVIRONMENT_NAME }}
      OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
      OPENROUTER_BASE_URL: ${{ vars.OPENROUTER_BASE_URL }}
      HOURS_OLD: ${{ vars.HOURS_OLD }}
      DEFAULT_LOCATION: ${{ vars.DEFAULT_LOCATION }}
      TELEGRAM_BOT_API: ${{ secrets.TELEGRAM_BOT_API }}
      TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
      AIML_ENGINEER_THREAD_ID: ${{ vars.AIML_ENGINEER_THREAD_ID }}
      DATA_ENGINEER_THREAD_ID: ${{ vars.DATA_ENGINEER_THREAD_ID}}
      DATA_SCIENTIST_THREAD_ID: ${{ vars.DATA_SCIENTIST_THREAD_ID }}
      DATA_ANALYST_THREAD_ID: ${{ vars.DATA_ANALYST_THREAD_ID }}
      SOFTWARE_ENGINEER_THREAD_ID: ${{ vars.SOFTWARE_ENGINEER_THREAD_ID}}
      OTHERS_THREAD_ID: ${{ vars.OTHERS_THREAD_ID }}
      AIML_ENGINEER_INTERN_THREAD_ID: ${{ vars.AIML_ENGINEER_INTERN_THREAD_ID }}
      DATA_ENGINEER_INTERN_THREAD_ID: ${{ vars.DATA_ENGINEER_INTERN_THREAD_ID}}
      DATA_SCIENTIST_INTERN_THREAD_ID: ${{ vars.DATA_SCIENTIST_INTERN_THREAD_ID }}
      DATA_ANALYST_INTERN_THREAD_ID: ${{ vars.DATA_ANALYST_INTERN_THREAD_ID }}
      SOFTWARE_ENGINEER_INTERN_THREAD_ID: ${{ vars.SOFTWARE_ENGINEER_INTERN_THREAD_ID}}
      OTHERS_INTERN_THREAD_ID: ${{ vars.OTHERS_INTERN_THREAD_ID }}
      SENIOR_TECH_THREAD_ID: ${{ vars.SENIOR_TECH_THREAD_ID }}
      NOT_RELEVANT_THREAD_ID: ${{ vars.NOT_RELEVANT_THREAD_ID }}
      POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6 # Action to check out repository code
        with:
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true # Uses GitHub's cache for uv dependencies automatically
          version: "latest"

      - name: Run Script
        run: uv run python -m src.main # 'uv run' automatically handles environment syncing and running the module
